.jumbotron {

	background-image: url('../images/student1.jpg');
	background-size: cover;
	background-position: center;
}

/*.image_banner{
	background-image: url('../images/banner2.png');
	background-size: cover;
	background-position: center;
}*/
